h1{
    color: green;
    padding-left: 50%
}


h2{
    color: blue;
    padding-left: 50%
}


h3{
    color: yellow;
    padding-left: 50%
}



body{
     background-color: #DE8887
} 
img{
    padding-left: 50%;

}
















